.portfolio {
    margin-bottom: 90px;
}
.portfolio__title {
    margin-bottom: 70px;
}
.portfolio__card + .portfolio__card {
    margin: 90px 0;
}
.card__item {
    margin-bottom: 40px;
}
.card__link {
    font-size: var(--big-font-size);
    line-height: 27px;
    text-decoration-skip-ink: none;
    text-align: center;
}
.card__link:hover {
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}