/* ---------------RESET--------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------/RESET--------------- */

/* ---------------BURGER--------------- */

.header__burger{
  display: grid;
  align-items: center;
  grid-template: repeat(3, 8px) / 1fr;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 10;
}
.header__burger::before, .header__burger::after{
  content: '';
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 2px;
  left: 0;
}
.header__burger::before{
  top: 0;
}
.header__burger::after{
  bottom: 0;
}
.header__burger span{
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  background-color: #000;
}

/* ---------------/BURGER--------------- */

/* ---------------FLEX-ALIGH--------------- */

.flex-x {
  display: flex;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.center-x {
  display: flex;
  justify-content: center;
}
.center-y {
  display: flex;
  align-items: center;
}
.center-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------/FLEX-ALIGH--------------- */

/* ---------------GRID--------------- */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 60px 30px;
}
/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* ---------------/GRIDS--------------- */

